.cache
.history
.git
.github
.mypy_cache
.nltk_data
.pip-cache
.pytest_cache
.pytest_tmp
.qdrant
.ruff_cache
.uv_cache
.venv
.vscode
**/target
downloads
htmlcov
logs
outputs
profiling
qdrant_storage
target
types
