# General
**.env
**.DS_Store

# VSCode
**.vscode/
**.history/


# Build
**build/
**dist/


# Application data
**downloads/
**data/
**output/

# Python
**__pycache__
**.egg-info/
**.pytest_cache

# uv
**uv.lock

# MyPy
**.mypy_cache/

# Virtual environments
**.env
**.venv
**env/
**venv/
